---
layout: default
---
<!-- Just for adding version label - [beta] -->
<style>

    .headline h1, .headline p {
    display: inline;    
    }
    
</style>

<div class="container">  
    <div class="headline">
    <h1 class="display-1 search-engine-settings">Butler</h1><p>beta</p>
    </div>
    <form action="/search.html" method="get">
      <div class="input-settings input-group mb-3">
        <input type="text" class="input-big-settings form-control" id="search-box" name="query" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
      </div>
      <input type="submit" value="search" class="btn btn-dark btn-lg centering-settings">
    </form>
  </div>
  
  
    <ul id="search-results"></ul>
    
    <script>
      window.store = {
        {% for post in site.posts %}
          "{{ post.url | slugify }}": {
            "title": "{{ post.title | xml_escape }}",
            "author": "{{ post.author | xml_escape }}",
            "category": "{{ post.category | xml_escape }}",
            "content": {{ post.content | strip_html | strip_newlines | jsonify }},
            "url": "{{ post.url | xml_escape }}"
          }
          {% unless forloop.last %},{% endunless %}
        {% endfor %}
      };
    </script>
    <script src="{{ site.baseurl }}/js/lunr.min.js"></script>
    <script src="{{ site.baseurl }}/js/search.js"></script>
